
<head>
	<title>Tools New/Create Page</title>
	<%- include ../partials/header.ejs %>
</head>
<body>
	<h2>Tools New/Create Page</h2>

		<form action="/tools" method="POST">
			<br>
			Time Posted: <input type="date" name="timePosted" placeholder='format: dd/mm/yyyy'/>
			<br>
			Type of Tool: <input type="text" name="typeOfTool"/>
			<br>
			Description: <input type="text" name="description">
			<button type="submit">POST TOOL</button>
		</form>
<%- include ../partials/footer.ejs %>