<!DOCTYPE html>
<html>

<head>
  <title>"Find the tools you need... instantly!"</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald|ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Fjalla+One" rel="stylesheet">

</head>


<body>

  
  <nav>
    

      <li>
        <a href="/tools/">Home Page</a>
      </li>  

      <li>
        <a href="/tools/new">Add New Tool</a>

      </li>


      <li>
        <a href="/auth/login">Login</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>

  </nav>


