<!DOCTYPE html>
<html>


<head>
  <title>Comments Show Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>

  
  <nav>
    
<!--     <ul> -->

      <li>
        <a href="/tools/">Home Page</a>
      </li>  
      <li>
        <a href="/tools/new">Add New Tool</a>

      </li>  

<!--     </ul> -->

<!--     <ul> -->
      <li>
        <a href="/auth/login">Login</a>
      </li>
      <li>
        <a href="auth/logout">Logout</a>
      </li>
<!--     </ul> -->

  </nav>