<!DOCTYPE html>
<html>
<head>
	<title>Tools Index page</title>
</head>
<nav>
  
    <ul>

    <li>
      <a href="#">Tool Show page</a>

    </li>  
    <li>
      <a href="#">Add New Tool</a>

    </li>  

  </ul>

  <ul>
    <li>
      <a href="#">Login</a>
    </li>
    <li>
      <a href="#">Logout</a>
    </li>
  </ul>

</nav>