<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
	<title>Tools Index page</title>
</head>
  
  <nav>
    
<!--     <ul> -->

      <li>
        <a href="/tools/">Home Page</a>
      </li>  
      <li>
        <a href="/tools/new">Add New Tool</a>

      </li>  

<!--     </ul> -->

<!--     <ul> -->
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
<!--     </ul> -->

  </nav>