<!DOCTYPE html>
<html>


<head>
  <title>"Find the tools you need... instantly!"</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>

  <div class="container">
    <nav>
      

        <li>
          <a href="/tools/">Home Page</a>
        </li>  
        <li>
          <a href="/tools/new">Add New Tool</
        </li>  


        <li>
          <a href="/auth/login">Login</a>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>


    </nav>
  </div>