<!DOCTYPE html>
<html>


<head>
  <title>"Find the tools you need... instantly!"</title>
    <link rel="stylesheet" href="/css/style.css">
</head>


<body>

  
  <nav>
    

      <li>
        <a href="/tools/">Home Page</a>
      </li>  
      <li>
        <a href="/tools/new">Add New Tool</
      </li>  


      <li>
        <a href="/auth/login">Login</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>


  </nav>