
	
<%- include ../partials/header.ejs %>
<title>Comments New Page</title>


	<h1>Comment new page</h1>
	<form action='/comments' method='POST'>
		<input type="date" name="whenCommentPosted">
		<input type="text" name="commentBody">
		<input type="text" name="commentAuthor">
		<button type='submit'>Post Comment</button>
	</form>

<%- include ../partials/footer.ejs %>