<!DOCTYPE html>
<html>
<head>
	<title>Comment New created form page</title>
</head>
<body>

	<h1>Comment new page</h1>
	<form action='/comments' method='POST'>
		<input type="date" name="whenCommentPosted">
		<input type="text" name="commentBody">
		<input type="text" name="commentAuthor">
		<button type='submit'>Post Comment</button>
	</form>
</body>
</html>