
	
<%- include ../partials/header.ejs %>
<title>Comments New Page</title>


	<h1>Comment new page</h1>
	<form action='/comments' method='POST'>
		<!-- action='/comments' was previously here -->
		Date: <input type="date" name="whenCommentPosted">
		<br>
		<br>
		Comment: <input type="text" name="commentBody" placeholder="insert comment">
		<br>
		<br>
		Author: <input type="text" name="commentAuthor" placeholder="comment author">
		<br>
		<br>
		<button type='submit'>Post Comment</button>
	</form>

<%- include ../partials/footer.ejs %>