	<%- include ./partials/header.ejs %>
<title>Register For Toolshed</title>
	<h1>Register For Toolshed</h1>

	<form action="/auth/register" method="POST">
		<input type="" name="userName" placeholder="username"><br/>
		<input type="password" name="password" placeholder="password"><br/>
		<input type="email" name="email" placeholder="email"><br/>
		<button type='submit'>Submit Registration</button>
	</form>

	<small><%= message %></small>


<%- include ./partials/footer.ejs %>