	<%- include ./partials/header.ejs %>
<title>Register For Toolshed</title>
	<h1>Register For Toolshed</h1>

	<form>
		<input type="" name="username"><br/>
		<input type="" name="password"><br/>
		<input type="" name="email"><br/>
		<button type='submit'>Submit Registration</button>
	</form>

	<small><%= message %></small>


<%- include ./partials/footer.ejs %>