

<%- include ../partials/header.ejs %>
<title>Users New/Create Page</title>
	<h2>Users New/Create Page</h2>

	<form action="/users" method="POST">
		<br>
		Username: <input type="text" name="userName" placeholder='choose username'/>
		<br>
		Email: <input type="text" name="email" placeholder="insert email address"/>
		<br>
		Password: <input type="text" name="password" placeholder="********">
		<button type="submit">CREATE NEW USER</button>
	</form>

<%- include ../partials/footer.ejs %>